


<div class="panel panel-primary" id="result_panel">
    <div class="panel-heading"><h3 class="panel-title">Patient's Condition:</h3>
      <br>
    </div>
    <div class="panel-body">
        <ul class="list-group">
            <div class="row">
                <div class="col-sm-3">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                      <div class="card-body">  
                         <h5 class="card-title">Name: Renad Fawaz</h5>
                        <p class="card-text">File:110118<br>
                                             Blood type: B<br>
                                             Hospital: King Saud Hospital<br>
                                             City:Riyadh
                        </p>
                      
                      </div>
                    </div>
                  </div>
                <div class="col-sm-3">
                  <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                      <h5 class="card-title">Name: Asma Quraishi</h5>
                      <p class="card-text">File:240098<br>
                                           Blood type: A<br>
                                           Hospital: King Fahad Hospital<br>
                                           City:Riyadh
                      </p>
                     
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-body">  
                       <h5 class="card-title">Name: Ahmed Fawaz</h5>
                      <p class="card-text">File:243398<br>
                                           Blood type: B<br>
                                           Hospital: King SaudHospital<br>
                                           City:Jeddah
                      </p>
                    
                    </div>
                  </div>
                </div>
              
                <div class="col-sm-3">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title">Name: Fahad Khaled</h5>
                          <p class="card-text">File:008098<br>
                                               Blood type: A<br>
                                               Hospital: King Fahad Hospital<br>
                                               City:Jeddah
                          </p>
                      </div>
                    </div>
                  </div>
              </div>
              
              <div class="row">
                  <div class="col-sm-3">
                      <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-body">  
                           <h5 class="card-title">Name: Sultan Nasser</h5>
                          <p class="card-text">File:245798<br>
                                               Blood type: AB<br>
                                               Hospital: King Saud Hospital<br>
                                               City:Khobar
                          </p>
                        
                        </div>
                      </div>
                    </div>

                <div class="col-sm-3">
                  <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Name: Nora Saleh</h5>
                      <p class="card-text">File:245798<br>
                                           Blood type: All types<br>
                                           Hospital: Alhabib Hospital<br>
                                           City:Dammam
                                        
                      </p>
                    
                    </div>
                  </div>
                </div>
                <div class="col-sm-3">
                  <div class="card border-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">Name: Faisal Ahmed</h5>
                        <p class="card-text">File:244098<br>
                                             Blood type: O<br>
                                             Hospital: Kingdom Hospital<br>
                                             City:Riyadh
                        </p>
                    </div>
                  </div>
                </div>
              
                <div class="col-sm-3">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title">Name: Hussa Khaled </h5> 
                          <p class="card-text">File:062098<br>
                                               Blood type: All type <br>     
                                               Hospital: King Fahad Hospital<br>
                                               City:Jeddah
                          </p>
                      </div>
                    </div>
                  </div>
              
              </div>

              <div class="row">
                  <div class="col-sm-3">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title">Name: Nora Saleh</h5>
                        <p class="card-text">File:204298<br>
                                             Blood type: All types<br>
                                             Hospital: Alhabib Hospital<br>
                                             City:Dammam
                                          
                        </p>
                      
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-3">
                    <div class="card border-secondary mb-3" style="max-width: 18rem;">
                      <div class="card-body">
                          <h5 class="card-title">Name: Faisal Ahmed</h5>
                          <p class="card-text">File:244098<br>
                                               Blood type: O<br>
                                               Hospital: Kingdom Hospital<br>
                                               City:Riyadh
                          </p>
                      </div>
                    </div>
                  </div>
                
                  <div class="col-sm-3">
                      <div class="card border-secondary mb-3" style="max-width: 18rem;">
                        <div class="card-body">
                            <h5 class="card-title">Name: Hussa Khaled </h5> 
                            <p class="card-text">File:992098<br>
                                                 Blood type: All type <br>     
                                                 Hospital: King Fahad Hospital<br>
                                                 City:Jeddah
                            </p>
                        </div>
                      </div>
                    </div>
                
                </div>

              </ul>
    
    </div>
</div>





<div class="tabs">
  <h3 [ngClass]="{'activeTab': showCreateRecord}" >Add New Donor:</h3>
  
</div>
<div>
  <app-create-record-form *ngIf="showCreateRecord"></app-create-record-form>

</div>
